asgiref==3.2.3
beautifulsoup4==4.8.2
certifi==2019.11.28
chardet==3.0.4
cycler==0.10.0
defusedxml==0.6.0
Django==3.0.3
et-xmlfile==1.0.1
fake-useragent==0.1.11
grab==0.6.41
idna==2.8
jdcal==1.4.1
kiwisolver==1.1.0
lxml==4.5.0
matplotlib==3.1.2
numpy==1.18.1
opencv-python==4.1.2.30
openpyxl==3.0.3
pandas==0.25.3
Pillow==8.1.1
pyparsing==2.4.6
pytesseract==0.3.2
python-dateutil==2.8.1
pytils==0.3
pytz==2019.3
requests==2.22.0
scipy==1.4.1
selection==0.0.14
selenium==3.141.0
six==1.14.0
soupsieve==1.9.5
sqlparse==0.3.0
urllib3==1.25.7
user-agent==0.1.9
weblib==0.1.30
