{% extends 'mainapp/base.html' %}
{% load static %}

<div class="contacts-container">
    {% block content %}
    <div class="contacts-main">
        <p class="contact-title"><span>Have</span> some feedback? <span>Contact</span> us via following:</p>
        <div class="contacts-gallery">
            <div class="gallery-item">E-mail</div>
            <div class="gallery-item">Twitter</div>
            <div class="gallery-item">Facebook</div>
            <div class="gallery-item">Instagram</div>
            <div class="gallery-item">Phone</div>
            <div class="gallery-item">Adress</div>
        </div>
    </div>
    {% endblock content %}
</div>