<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Shopy - Home</title>
	<link rel="stylesheet" type="text/css" href="./static/css/styles.css">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,500,700,900&display=swap" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="upper-header">
			<div class="contacts-grid">
				<ul class="contacts">
					<li class='contacts-items'>
						<img class="mail-icon-header" src="./static/img/icons/mail.png" alt="mail">
						info@shopy.com
					</li>
					<li class='contacts-items'>
						<img src="./static/img/icons/phone.png" alt="phone">
						996 - 5553 - 453
					</li>
				</ul>
				<ul class="socials">
					<li class="social-icon">
						<a href="#" class="social-icon-link">
							<img src="./static/img/icons/facebook.png" alt="facebook">
						</a>
					</li>
					<li class="social-icon">
						<a href="#" class="social-icon-link">
							<img src="./static/img/icons/twitter.png" alt="twitter">
						</a>
					</li>
					<li class="social-icon">
						<a href="#" class="social-icon-link">
							<img src="./static/img/icons/google.png" alt="gooogle">
						</a>
					</li>
					<li class="social-icon">
						<a href="#" class="social-icon-link">
							<img src="./static/img/icons/instagram.png" alt="instagram">
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="header">
			<div class="header-grid">
				<a href="#" class="logo-link">
					<img src="./static/img/icons/logo.png" alt="logo" class="logo">
				</a>
				<div class="navbar">
					<ul class="nav-list">
						<li class="nav-item">
							<a href="/" class="nav-link">Home</a>
						</li>
						<li class="nav-item">
							<a href="/products/" class="nav-link">Products</a>
						</li>
						<li class="nav-item">
							<a href="#" class="nav-link">Hot Deals</a>
						</li>
						<li class="nav-item">
							<a href="#" class="nav-link">About</a>
						</li>
						<li class="nav-item">
							<a href="/contacts/" class="nav-link">Contacts</a>
						</li>
					</ul>
				</div>
				<div class="navbar-icons">
					<ul class="navbar-icons-list">
						<li class="navbar-icons-item">
							<a href="#" class="navbar-icons-link">
								<img src="./static/img/icons/search.png" alt="search">
							</a>
						</li>
						<li class="navbar-icons-item">
							<a href="#" class="navbar-icons-link">
								<img src="./static/img/icons/user.png" alt="user">
							</a>
						</li>
						<li class="navbar-icons-item">
							<a href="#" class="navbar-icons-link">
								<img src="./static/img/icons/cart.png" alt="cart">
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="promo" style="background:url(./static/img/new_promo.png) center center;
			-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover;
			background-size: cover;">
			<div class="promo-subgrid">
				<div class="scroll-bar scroll-up">
					<a href="#" class="scroll"></a>
				</div>
				<div class="promo-text">
					<p class="promo-title">FULL WINTER KIT</p>
					<p class="promo-subtitle">Half Jacket + Skiny Trousers + Boot leather</p>
					<p class="promo-descr">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
					<span class="price">Price: $120</span>
					<a class="order-now" href="#">
						<img src="./static/img/icons/orange_cart.png" alt="cart" class="cart">
						<span>Order now</span>
					</a>
				</div>
				<div class="scroll-bar scroll-moving">
					<a href="#" class="moving-scroll"></a>
				</div>
				<div class="scroll-bar scroll-down">
					<a href="#" class="scroll"></a>
				</div>
			</div>
		</div>
		<div class="main-body">
			<div class="title">
				<p class="title-text"><span>NEW</span> ARRIVALS</p>
				<p class="subtitle-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p class="title-text">
			</div>
			<div class="big-product-cards">
				<div class="big-card">
					<div class="front">
						<img class="product-img" src="./static/img/products/product_1.png" alt="product1">
						<p class="product-name">Reebok Track Jacket</p>
						<p class="product-price">100$</p>
					</div>
					<div class="back">
						<img class="product-img-small" src="./static/img/products/product_1.png" alt="product1">
						<p class="product-name-hover">Reebok Track Jacket</p>
						<p class="sizes">Sizes: S - M - L - XL</p>
						<div class="colors">
							<div class="color red"></div>
							<div class="color black"></div>
							<div class="color blue"></div>
							<div class="color green"></div>
						</div>
						<img src="./static/img/icons/hor_separator.png" alt="hor_sep" class="hor-separator">
						<div class="hovered-icons">
							<a href="#" class="hov-icon-link"><img src="./static/img/icons/share.png" alt="share" class="hovered-icon"></a>
							<a href="#" class="hov-icon-link"><img src="./static/img/icons/cart.png" alt="cart" class="hovered-icon with-margin cart"></a>
							<a href="#" class="hov-icon-link"><img src="./static/img/icons/like.png" alt="like" class="hovered-icon with-margin"></a>
						</div>
					</div>
				</div>
				<div class="big-card">
					<div class="front">
						<img class="product-img" src="./static/img/products/product_2.png" alt="product2">
						<p class="product-name">Reebok Track Jacket</p>
						<p class="product-price">100$</p>
					</div>
					<div class="back">
						<img class="product-img-small" src="./static/img/products/product_2.png" alt="product2">
						<p class="product-name-hover">Reebok Track Jacket</p>
						<p class="sizes">Sizes: S - M - L - XL</p>
						<div class="colors">
							<div class="color red"></div>
							<div class="color black"></div>
							<div class="color blue"></div>
							<div class="color green"></div>
						</div>
						<img src="./static/img/icons/hor_separator.png" alt="hor_sep" class="hor-separator">
						<div class="hovered-icons">
							<a href="#" class="hov-icon-link"><img src="./static/img/icons/share.png" alt="share" class="hovered-icon"></a>
							<a href="#" class="hov-icon-link"><img src="./static/img/icons/cart.png" alt="cart" class="hovered-icon with-margin cart"></a>
							<a href="#" class="hov-icon-link"><img src="./static/img/icons/like.png" alt="like" class="hovered-icon with-margin"></a>
						</div>
					</div>
				</div>
				<div class="big-card">
					<div class="front">
						<img class="product-img" src="./static/img/products/product_3.png" alt="product3">
						<p class="product-name">Reebok Track Jacket</p>
						<p class="product-price">100$</p>
					</div>
					<div class="back">
						<img class="product-img-small" src="./static/img/products/product_3.png" alt="product3">
						<p class="product-name-hover">Reebok Track Jacket</p>
						<p class="sizes">Sizes: S - M - L - XL</p>
						<div class="colors">
							<div class="color red"></div>
							<div class="color black"></div>
							<div class="color blue"></div>
							<div class="color green"></div>
						</div>
						<img src="./static/img/icons/hor_separator.png" alt="hor_sep" class="hor-separator">
						<div class="hovered-icons">
							<a href="#" class="hov-icon-link"><img src="./static/img/icons/share.png" alt="share" class="hovered-icon"></a>
							<a href="#" class="hov-icon-link"><img src="./static/img/icons/cart.png" alt="cart" class="hovered-icon with-margin cart"></a>
							<a href="#" class="hov-icon-link"><img src="./static/img/icons/like.png" alt="like" class="hovered-icon with-margin"></a>
						</div>
					</div>
				</div>
				<div class="big-card">
					<div class="front">
						<img class="product-img" src="./static/img/products/product_2.png" alt="product2">
						<p class="product-name">Reebok Track Jacket</p>
						<p class="product-price">100$</p>
					</div>
					<div class="back">
						<img class="product-img-small" src="./static/img/products/product_2.png" alt="product2">
						<p class="product-name-hover">Reebok Track Jacket</p>
						<p class="sizes">Sizes: S - M - L - XL</p>
						<div class="colors">
							<div class="color red"></div>
							<div class="color black"></div>
							<div class="color blue"></div>
							<div class="color green"></div>
						</div>
						<img src="./static/img/icons/hor_separator.png" alt="hor_sep" class="hor-separator">
						<div class="hovered-icons">
							<a href="#" class="hov-icon-link"><img src="./static/img/icons/share.png" alt="share" class="hovered-icon"></a>
							<a href="#" class="hov-icon-link"><img src="./static/img/icons/cart.png" alt="cart" class="hovered-icon with-margin cart"></a>
							<a href="#" class="hov-icon-link"><img src="./static/img/icons/like.png" alt="like" class="hovered-icon with-margin"></a>
						</div>
					</div>
				</div>
			</div>
			<div class="more-button">
				<a href="#" class="more-button-link">
					<img src="./static/img/icons/dots.png" alt="dots" class="dots">
				</a>
			</div>
			<div class="adv-section">
				<div class="adv adv-1">
					<div class="adv-grid">
						<div class="adv-sale adv-item" style="height: 80px; width: 80px;
						background-image: url(./static/img/icons/sale.png); background-repeat: no-repeat;">
							<p class="sale-text-1">Sale</p>
							<p class="sale-text-2">50%</p>
						</div>
						<div class="adv-text adv-item">
							<p class="adv-text-title">FULL WINTER KIT</p>
							<p class="adv-text-subtitle">Half Jacket + Skiny Trousers + Boot leather</p>
						</div>
						<div class="adv-price adv-item">
							<a class="cart-link" href="#"><img src="./static/img/icons/orange_cart.png" alt="cart" class="cart-img"></a>
							<span>120$</span>
						</div>
					</div>
				</div>
				<div class="adv adv-2">
					<p class="free-adv-text-1">Your advertisment may be here!</p>
					<p class="free-adv-text-2">470 x 100</p>
				</div>
			</div>
			<div class="title">
				<p class="title-text"><span>BEST</span> SALES</p>
				<p class="subtitle-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p class="title-text">
			</div>
			<div class="small-product-cards">
				<div class="small-card">
					<div class="small-card-grid">
						<img src="./static/img/products/product_4.png" alt="product" class="bs-product-img">
						<img src="./static/img/icons/seprator.png" alt="separator" class="separator">
						<p class="bs-product-name">Reebok Track Jacket</p>
						<div class="changing-content">
							<div class="shown">
								<img src="./static/img/icons/rating.png" alt="rating" class="rating">
								<p class="bs-product-price">100$</p>
							</div>
							<div class="hidden">
								<a class="add-to-cart" href="#"><img src="./static/img/icons/orange_cart.png" alt="orange_cart" class="cart-img"> Add to cart</a>
							</div>
						</div>
					</div>
				</div>
				<div class="small-card">
					<div class="small-card-grid">
						<img src="./static/img/products/product_4.png" alt="product" class="bs-product-img">
						<img src="./static/img/icons/seprator.png" alt="separator" class="separator">
						<p class="bs-product-name">Reebok Track Jacket</p>
						<div class="changing-content">
							<div class="shown">
								<img src="./static/img/icons/rating.png" alt="rating" class="rating">
								<p class="bs-product-price">100$</p>
							</div>
							<div class="hidden">
								<a class="add-to-cart" href="#"><img src="./static/img/icons/orange_cart.png" alt="orange_cart" class="cart-img"> Add to cart</a>
							</div>
						</div>
					</div>
				</div>
				<div class="small-card">
					<div class="small-card-grid">
						<img src="./static/img/products/product_4.png" alt="product" class="bs-product-img">
						<img src="./static/img/icons/seprator.png" alt="separator" class="separator">
						<p class="bs-product-name">Reebok Track Jacket</p>
						<div class="changing-content">
							<div class="shown">
								<img src="./static/img/icons/rating.png" alt="rating" class="rating">
								<p class="bs-product-price">100$</p>
							</div>
							<div class="hidden">
								<a class="add-to-cart" href="#"><img src="./static/img/icons/orange_cart.png" alt="orange_cart" class="cart-img"> Add to cart</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="feedback-wrapper">
				<div class="feedback">
					<div class="feedback-subgrid">
						<p class="feedback-title" >NEWS LETTER</p>
						<p class="feedback-subtitle" >Join us now to get all news and special offers</p>
						<img class="mail-icon" src="./static/img/icons/mail.png" alt="mail">
						<form class="email-form" action="" method="post">
							<input class="email-input" placeholder="type your email here" type="text" required>
							<button class="send-email-button" type="submit"><span>Join us!</span></button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="footer-grid">
				<div class="copyright-subgrid">
					<a href="#" class="lower-logo-link">
						<img src="./static/img/icons/logo.png" alt="lower-logo" class="lower-logo">
					</a>
					<span class="copyright-text">Denis Shmelev &copy; 2020</span>
				</div>
				<ul class="footer-list">
					<li class="footer-list-item">
						<a href="#" class="footer-list-link">About us</a>
					</li>
					<li class="footer-list-item">
						<a href="#" class="footer-list-link">Contact us</a>
					</li>
					<li class="footer-list-item">
						<a href="#" class="footer-list-link">Support</a>
					</li>
				</ul>
				<ul class="footer-list">
					<li class="footer-list-item">
						<a href="#" class="footer-list-link">Our feed</a>
					</li>
					<li class="footer-list-item">
						<a href="#" class="footer-list-link">Terms and conditions</a>
					</li>
					<li class="footer-list-item">
						<a href="#" class="footer-list-link">Our privacy</a>
					</li>
				</ul>
				<ul class="footer-list">
					<li class="footer-list-item">
						<a href="#" class="footer-list-link">Join us</a>
					</li>
					<li class="footer-list-item">
						<a href="#" class="footer-list-link">Live support</a>
					</li>
				</ul>
				<div class="payments-subgrid">
					<span class="payments-text">Payments methods</span>
					<img src="./static/img/icons/paymments.png" alt="payments" class="payments-img">
				</div>
			</div>
		</div>
	</div>
</body>
</html>